<div class="akert alert-info p-2">
  <h2>Por País</h2>
</div>
<hr />
<div class="row">
  <div class="col">
    <app-pais-input
      placeholder="Buscar por País"
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
    ></app-pais-input>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="list-group">
      <li
        *ngFor="let item of paisesSugeridos"
        class="list-group-item list-group-item-action"
        (click)="buscar(item.name)"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
</div>

<hr />

<div *ngIf="ehErro" class="alert alert-danger">
  Nenhum país encontrado com o termo <b>{{ termoDigitado }}</b>
</div>

<div *ngIf="!ehErro && hasValue" class="row">
  <div class="col">
    <app-pais-tabela [listaDePaises]="listaDePaises"></app-pais-tabela>
  </div>
</div>
