<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandeira</th>
      <th>Nome</th>
      <th>População</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of listaDePaises; let i = index"
      class="animate__animated animate__fadeIn"
    >
      <td>{{ i + 1 }}</td>
      <td>
        <img
          [src]="item.flag"
          alt=""
          class="img-thumbnail rounded imgBandeira"
        />
      </td>
      <td>{{ item.name }} / {{ item.capital }}</td>
      <td>{{ item.population | number }}</td>
      <td>
        <a target="_blank" [routerLink]="['/pais', item.alpha2Code]">ver</a>
      </td>
    </tr>
  </tbody>
</table>
